.container {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

#main-product-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.view-images {
    flex-wrap: wrap;
    display: flex;
}

.product-image {
    height: 80px;
    padding: 3px;
    width: 80px;
    object-fit: cover;
    margin: 5px;

    border-radius: 8px;
}

.product-image:hover {
    box-shadow: 0 0 5px 0 cyan;

}